.container-layout-bills {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 5rem;
}
.tasks-empty {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
}
.title-next {
  margin-bottom: -2rem;
}
