.profile {
  width: 90%;
  border: 1px solid #dcdcdc;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 40rem) {
  .profile {
    max-width: 400px;
  }
}

.profile p {
  text-align: left;
}

.profile > span {
  color: blue;
  margin-top: 30px;
  cursor: pointer;
}
