.container-list-cards {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 42rem) {
  .container-list-cards {
    max-width: 420px;
  }
}

@media screen and (max-width: 360px) {
  .container-list-cards {
    max-width: 320px;
  }
}

.container-box {
  display: flex;
  max-width: 100%;
  width: 100%;
}

.link-card {
  text-decoration: none;
}

