:root {
  --primary-yellow: #ffba06;
  --primary-light-red: #ff5864;
  --primary-blue: #3f88c5;
  --primary-blue-dark: #0c497a;
  --primary-green: #21a179;
  --secondary-blue: #a6cdd7;
  --secundary-yellow: #f0d48f;

  --primary-orange: #f7971b;

  --primary-gray: "#EAEAEA";
  --primary-gray-2: "#D7D7D7";
  --primary-gray-3: "#A5A5A5";
  --primary-gray-4: "#7C7D80";
  --primary-gray-5: "#585958";

  --blue-background: #5c96c7;
  --blue-linear-background: linear-gradient(
    180deg,
    #3f88c5 19.98%,
    rgba(255, 255, 255, 0) 100%
  );
  --green-linear-background: linear-gradient(
    180deg,
    #21a179 19.98%,
    rgba(255, 255, 255, 0) 100%
  );

  --yellow-background: "#F5BE2E";
  --yellow-linear-background: linear-gradient(
    180deg,
    #f5be2e 19.98%,
    rgba(255, 255, 255, 0) 100%
  );
}
