@import url(utils/colors.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
}

@media screen and (max-width: 60rem) {
  :root {
    font-size: 14px;
  }
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #a6cdd7;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #a6cdd7;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #a6cdd7;  /* creates padding around scroll thumb */
}

