@import url(utils/colors.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
}

@media screen and (max-width: 60rem) {
  :root {
    font-size: 14px;
  }
}
